@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-primary: #1da1f2;
  /* --theme-light: #f2e8e9; */
  --theme-light: #ffffff;
  --theme-yellow: #f3e702;
  --theme-light-dark: #e17366;
}

body {
  color: var(--theme-light);
  background: var(--theme-dark);
}
